﻿@model AmadeusProject.Web.Models.CalculationBindingModel

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript">
    $("#clearBtn").click(function () {
    $("input[type=text]").val("");

});
</script>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="calc-login">
                @using (Html.BeginForm("Calculate", "Calc", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true)
                    <div class="left" style="height:50px;">
                        <label class="control-label">First Number: </label>
                    </div>
                    <div class="right">
                        @Html.TextBoxFor(x => x.FirstNumber)
                        @Html.ValidationMessageFor(x => x.FirstNumber, "",new { @style = "color:red" })
                    </div>
                    <br />
                    <div class="left" style="height:50px;">
                        <label class="control-label">Second Number: </label>
                    </div>
                    <div class="right">
                        @Html.TextBoxFor(x => x.SecondNumber)
                        @Html.ValidationMessageFor(x => x.SecondNumber, "", new { @style = "color:red" })
                    </div>
                    <br />
                    <div class="left" style="height:50px;">
                        <label>Operation: </label>
                    </div>
                    <div class="right">
                        @Html.DropDownListFor(m => m.CalculationMethod, (SelectList)ViewBag.Operators, new { @class = "form-control" })<br />
                    </div>
                    <br />
                    <div class="left" style="height:50px;">
                        <label>Result: </label>
                    </div>
                    <div class="right">
                        @Html.TextBoxFor(x => x.Result, new { @readonly = "readonly" })
                    </div>

                        <div class="wrapper">
                            <span class="group-btn">
                                <input class="calc-button" type="submit" name="calcBtn" value="=" />
                                <input class="calc-button" type="submit" id="clearBtn" value="CE" name="clearButton"/>
                            </span>
                        </div>
                }
            </div>
        </div>
    </div>
</div>