﻿@model AmadeusProject.Web.Models.AccountBindingModel
@{
    ViewData["Title"] = "Login";
}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-group">
                        <label>Username</label>
                        <div>
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(x => x.Username,"" , new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <div>
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "Password", required = "required" })
                        </div>
                    </div>
                    <div class="wrapper">
                        <span class="group-btn">
                            <input class="btn btn-default" type="submit" value="Login" />
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
